<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <app-game-control (changedCounter)="onChangedCounter($event)"></app-game-control>
  <h3>Odd Numbers</h3>
  <div class="row" *ngFor="let val of odds">
    <div class="col-md-12">
      <app-odd  [value]="val"></app-odd>
    </div>
  </div>
  <h3>Even Numbers</h3>
  <div class="row" *ngFor="let val of evens">
    <div class="col-md-12">
      <app-even  [value]="val"></app-even>
    </div>
  </div>

</div>

